In [ ]:
#python Indentation

if 100 > 50:
  print("100 is greater than 50")

100 is greater than 50

In [ ]:
#python Variables
x = 50
y = 'engineer'
print (x , y)

50 engineer

In [ ]:
'creating a comment'

'creating a comment'

In [ ]:
 # this is a comment
 """ this is also a comment
 written in more than just one line"""

' this is also a comment\nwritten in more than just one line'

In [ ]:
#casting: used to specify the data type of a variable

x= str('abc')
y= int(3.001)
z= float (1023)

In [ ]:
print (x, y, z)

abc 3 1023.0

In [ ]:
# type () function helps to determine the data type of a variable
print (type(x))
print (type(y))
print (type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
""" Variables are case sensitive"""
a="i am a student"
A = 55
print (a)
print(A)

i am a student
55

In [ ]:
""" Variable names with more than one word  can be difficult to read. so different techniques"""
# camel case: each word except first starts with a capital letter
myVariable = 'Swornima'
#pascal case:  each word starts with a capital letter
MyVariable = 'Swornima'
#snake case: each word is separated by an underscore character
my_variable = 'Swornima'

In [ ]:
# python variables - assign multiple values

In [ ]:
x , y, z= 'rose', 'age', 'apple'
print(x)
print(y)
print(z)

rose
age
apple

In [ ]:
# you can also assign same value to multiple variables in one line:
x=y=z= "i love nepal"
print (x)
print(y)
print(z)

i love nepal
i love nepal
i love nepal

In [ ]:
# unpacking

flowers = ("rose", "lily", "daisy")
x, y, z = flowers
print(x)
print(y)
print(z)

rose
lily
daisy

In [ ]:
#Global variables
x= 'nepal'

def myfunc():
  print ("Everest is located in " + x)

myfunc()

Everest is located in nepal

In [ ]:
x= 'nepal'

def myfunc():
  x='kathmandu'
  print ("capital city of nepal  is " + x)

myfunc()
print ("Everest is located in " + x)

capital city of nepal  is kathmandu
Everest is located in nepal

In [ ]:
 def myfunc():
  global x
  x='love'

myfunc()

print ('i ' +x + ' nepal')

i love nepal